@model IEnumerable<HouseKeeper2.Core.Models.ServiceBill>
@{
    ViewBag.Title = "Service Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service bills</h2>
@Html.ActionLink("Create", "Create", "ServiceBills", new {@class="btn btn-primary"})
@{
    if (!Model.Any())
    {
        <p>THere are no Service Bill yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Tariff</th>
                <th>Counter Display</th>
                <th>Month</th>
                <th>Year</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var sb in @Model)
            {
                
            }
        </tbody>
        </table>
    }
}

